doctype html
html(lang="en")
  head
    title Wisboo Test 2
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
    link(href="stylesheets/main.css" rel="stylesheet")
  body
    header
      .vcenter.hidden-sm.hidden-xs.animated.fadeInLeft
        img(src="images/phone.png")
      .vcenter.hidden-sm.hidden-xs
        .divider
      .vcenter.animated.fadeInRight
        img(src="images/tcg_logo.png" class="img-responsive")

    .description-block.zigzag-top
      .container.row.center
        .col-md-4
          .description.grow
            img(src="images/ic_checklist.png")
            h1 Keep track of your money
            p See all your debts and all your friends debts towards you.
        .col-md-4
          .description.grow
            img(src="images/ic_reminder.png")
            h1 Generate reminders
            p Get reminded of who owes you money or who you owe money to.
        .col-md-4
          .description.grow
            img(src="images/ic_safe.png")
            h1 No internet needed
            p All your debts are kept safe in your phone.

    footer
      p Get info on new updates
      input(type="text" size="20")
      button Subscribe

    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="javascripts/startupAnimation.js")



